/* Estilos generales para el cuerpo */
body {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #242F4F;
}

/* Contenedor general para ambos carruseles */
.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

/* Estilo para el título */
.carousel-container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    
}

/* Estilo específico para los títulos "Recomendaciones" */
#recommendations-title {
    font-size: 2rem;
    font-weight: 600;
    color: #d8d8d8;
    position: relative;
    top: 30px;  
    left: -720px;  /* Ajusta la posición del título */
}

/* Estilos para los contenedores de los carruseles */
.carousel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    position: relative;
    overflow: hidden;
}

/* Contenedor interno que maneja el carrusel */
.wrapper {
    max-width: 1700px;
    position: relative;
}

/* Estilos para los íconos de navegación */
.wrapper i {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1000;
}

.wrapper i:first-child {
    left: -23px;
}

.wrapper i:last-child {
    right: -23px;
}

/* Estilos para el carrusel */
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

/* Estilo para las imágenes dentro del carrusel */
.carousel img {
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
    width: calc(100% / 6);
    transition: transform 0.3s ease;
}

.carousel img:first-child {
    margin-left: 0px;
}

/* Media queries para hacer que el carrusel sea responsivo */
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

/* Efectos al pasar el ratón sobre las imágenes */
.carousel img:hover {
    background-color: rgba(14, 14, 14, 0.5);
    transform: scale(1.05);
    z-index: 1;
    cursor: pointer;
}

/* Estilos generales para el carrusel */
.carousel {
    display: flex;
    transition: all 0.3s ease;
}

/* Estilos para los botones de navegación */
.carousel-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}








