:root{
    --color-menu: rgb(255, 247, 247);
    --padding-caja-contenedor: 20px;
    --ancho-contenedor: 100%;
    --color-titulo-articulos: #9dffd1;
}

body{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
    
}

header {
    background-color: #1f1f1f;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 0; 
}

.navegacion {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo {
    height: 70px;
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    margin-left: 190px; 
    padding: 0;
}

.logo-image {
    margin-top: 1%; 
    margin-left: 250%;
    height: 110%; 
}

.nav-link {
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(40, 177, 166, 0.7);
}

.container {
    display: flex;
    justify-content: left; 
    align-items: center;
    flex-grow: 1; 
    padding: 0 20px;
    margin-left: 20px;
    position: relative;
}

input{
    padding: 5px;
    border: 0;
    width: 45%;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    margin-right: 0px;
}

button{
    padding: 6.9px;
    background: linear-gradient(to top,#b1b1b1, #85BDBF);
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.ali {
    color: #28B1A6; 
    -webkit-text-stroke: 0.8px black;
}

.express {
    color: #C2FCF7; 
    -webkit-text-stroke: 0.8px black;
}

button2 {
    color: white;
    cursor: pointer;
    margin-left: 70px; 
    font-size: 25px;
}

a{
    color: #C2FCF7;
    -webkit-text-stroke: 0.3px black;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

.menu-container {
    position: relative; 
    display: inline-block;
}

.menu-button {
    color: white;
    cursor: pointer;
    margin-left: 70px; 
    font-size: 25px;
    background: none;
    border: none;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1001;
    top: 65%; 
    right: -85px; 
    padding: 0;
    box-shadow: 2px 2px 5px 0 gray;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: var(--color-menu);
}

.menu-container:hover .submenu {
    display: block; 
}

.submenu li {
    text-align: left;
    padding: 0;
    display: block;
    padding: 10px;
}

.submenu li:hover {
    background: #686868;
}

.menu-secundario {
    background-color: #313131;
    padding: 10px 0;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
}

.menu-secundario ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menu-secundario ul li {
    display: inline;
}

.menu-secundario ul li a {
    text-decoration: none;
    color: white; 
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.menu-secundario ul li a:hover {
    background-color: #555555; 
    border-radius: 5px;
}

.hero-container {
    width: 88%;
    margin-left: 110px;
    display: flex;
    min-height: 400px;
    background: #275277;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(226, 226, 226);
    flex: 0 1 40%;
    text-align: center;
    justify-content: center;
}

.hero-content h2 {
    font-size: 4em;
    margin: 0;
    padding: 0 25px;
}

.hero-content p {
    font-size: 2em;
}

.hero-content button {
    background: #2c2c2c;
    min-width: 150px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.hero-content button:hover {
    background-color: #85BDBF;
    cursor: pointer;
}

.hero-img {
    display: flex;
}

.hero-img img {
    align-self: center;
    height: 80%;
}

h2{
    color:#ca121b;
    -webkit-text-stroke: 1px black;
}

.contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: var(--padding-caja-contenedor);
    max-width: var(--ancho-contenedor);
    background: white;
    margin: 10px auto;
    flex-wrap: wrap;
    row-gap: 20px; 
    column-gap: 15px;
    margin-left: 90px;
    
}

.caja {
    background: #2c2c2c;
    color: rgb(233, 233, 233);
    padding: var(--padding-caja-contenedor);
    text-align: center;
    width: calc(33.3% - 40px); 
    box-sizing: border-box;
}

.caja h2{
    color: var(--color-titulo-articulos);
}