body {
    font-family: Arial, sans-serif;
    padding: 2%;
}

/* Estilos básicos para los enlaces */
a {
    background: lightblue;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 150px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: lightblue;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    /*transition: background-color 0.3s ease;*/
}

form {
    margin: 2% 2%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*transition: box-shadow 0.3s ease-in-out;*/
}

.input-text, textarea {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333;
    background-color: #f9f9f9;
    /*transition: all 0.3s ease;*/
}

::placeholder {
    color: gray;
}

a:link {
    background: lightblue;
    color: darkblue;
}

a:visited {
    background: lightpink;
    color: purple;
}

a:hover{
    background: lightcoral;
    color: white;
}

a:active {
    background: orange;
    color: white;
}

input:focus, textarea:focus {
    outline: 2px solid #007BFF;
    border: 1px solid #007BFF;
}

input:disabled {
    background: lightgray;
}

.checkbox:checked, .checkbox:focus {
    outline: none;
}

form:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

li:first-child {
    color: cornflowerblue;
}

li:last-child {
    color: lightcoral;
}

p:first-of-type{
    color: cornflowerblue;
    font-weight: bold;
}

h2:nth-of-type(2){
    color: cornflowerblue;
}

li:nth-child(odd){
    background: #f0f0f0;
}

li:nth-child(even){
    background: #e0e0e0;
}